

table {
	border: 1px solid;
	background: #ffffff;
	width: 100%;
	border-collapse: collapse;
	
}

table tr {
	border: 1px solid #606060;
	background-color: rgb(243, 220, 243);
}

table tbody tr:hover {
	background-color: #909090;
}

table tbody tr:nth-child(0) {
	background-color: #606060;
}

table th,
table td {
	padding: 1rem 2rem 1rem;
	font-size: 1.6rem;
	text-align: auto;
	border: 1px solid #f1f1f1; 
}

table tr td:first-child {
	text-align: auto;
	font-weight: bold;
	vertical-align: middle;
}


table th {
	background-color: #aa5fa5;
	color: black;
	text-align: center;
}

.table-container {
	padding: 2rem 1rem;
}

.table-container h3 {
	font-size: 1.8rem;
	font-style: normal;
	margin-bottom: 1rem;
}

.table-container tfoot {
	background: #EEEEEE;
}

.table-container tfoot td {
	font-weight: bold;
	background-color: #cccccc;
}

/* Mobile first */


/* Tablet */

@media(min-width: 769px) {
	body{
	  background-color: burlywood;
	  color: #eee;
	}
	p, h3, li, a {
	  color: bisque;
	}
	}
	
	@media (max-width: 768px){
	  nav{
		width: 30vw;
	  }
	
	  article{
		width: 70vw;
	  }
	
	  .coluna{
		width: 50vw;
		min-width: unset;
	  }
	}
	
	/* Smartphone */
	
	@media (max-width: 425px){
	  nav,
	  article,
	  .coluna{
		width: 100%;
		min-width: 320px;
	  }
	}