div {
    margin: 40px auto;
}


/* circulo */

#grafico-01 {
    background-color: brown;
    width: 236px;
    height: 200px;
    overflow: hidden; 
    border-radius: 20%;
    margin: 50px auto;
}

#grafico-01 img {
    width: 100%;
    height: auto;
}

/* triangulo */
#grafico-02 {
    background: transparent;
    border-style: solid;
    border-width: 60px 0 60px 120px;
    border-color: transparent transparent
    transparent blue;
    width: 60px;
}

#imagem-vetorial {
    width: 150px;
}

#canvas {
    background-color: black;
    height: 50%;
    width: 100%;
    border-radius: 100%;
}

/* Filtros */
#grafico-01{
    filter: drop-shadow(4px 2px 10px #333); /*sombra na foto */
}

.filtro {
    filter: grayscale(100%); /* escala de cinza */
    filter: blur(5px); /* desfoque */
    filter: brightness(200%); /* brilho (100% = normal) */
    filter: invert(100%); /*inversão de cores */
    filter: opacity(50%); /* opacidade */
    filter: saturate(200%) sepia(100%); /* combina filtros separados por espaço */

}

.filtro:hover{
    filter: grayscale(0%);
}
