*{
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

body{
    margin: 0;
    padding: 0;
    background: url(backgroundimage.jpeg) no-repeat;
    background-size: cover;
}
.box{
    width: 450px;
    background: rgba(0,0,0,0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: "century gothic" , sans-serif;
}
.box-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}
.box h5{
    font-size: 25px;
    letter-spacing: 3px;
    font-weight: 100;
}
.box p{
    text-align: end;
}
ul{
    margin: 0;
    padding: 0;
}
.box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
}
.box li a{
    color: #000000;
    text-decoration: none;
    font-size: 50px; 
}
/* Mobile first */


/* Tablet */

@media(min-width: 769px) {
    body{
      background-color: burlywood;
      color: #eee;
    }
    p, h3, li, a {
      color: bisque;
    }
    }
    
    @media (max-width: 768px){
      nav{
        width: 30vw;
      }
    
      article{
        width: 70vw;
      }
    
      .coluna{
        width: 50vw;
        min-width: unset;
      }
    }
    
    /* Smartphone */
    
    @media (max-width: 425px){
      nav,
      article,
      .coluna{
        width: 100%;
        min-width: 320px;
      }
    }
    
    


